In [0]:
# Create simple DataFrame
data = [("iPhone", 999), ("Samsung", 799), ("MacBook", 1299)]
df = spark.createDataFrame(data, ["product", "price"])
df.show()

# Filter expensive products
df.filter(df.price > 1000).show()

+-------+-----+
|product|price|
+-------+-----+
| iPhone|  999|
|Samsung|  799|
|MacBook| 1299|
+-------+-----+

+-------+-----+
|product|price|
+-------+-----+
|MacBook| 1299|
+-------+-----+

In [0]:
data = [("Saurabh", 21), ("Amit", 23), ("Riya", 22)]
df = spark.createDataFrame(data, ["Name", "Age"])
df.show()

+-------+---+
|   Name|Age|
+-------+---+
|Saurabh| 21|
|   Amit| 23|
|   Riya| 22|
+-------+---+

In [0]:
df.printSchema()
df.select("Name").show()
df.filter(df.Age > 21).show()

root
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)

+-------+
|   Name|
+-------+
|Saurabh|
|   Amit|
|   Riya|
+-------+

+----+---+
|Name|Age|
+----+---+
|Amit| 23|
|Riya| 22|
+----+---+